aside.sidebar.withstars#manage-auth-account-sidebar
  .stars.top
    include /views/elements/svg/diamond-hollow-small
    include /views/elements/svg/diamond-hollow-small
  .content
    a(href=`/m/auth/accounts/${req.p.account.eid}/profile` lapis)
      label 
        .icon
          include /views/elements/svg/icon-portrait
        .text 프로필
    a(href=`/m/auth/accounts/${req.p.account.eid}/sessions` lapis)
      label 
        .icon
          include /views/elements/svg/icon-session
        .text 세션
    a(href=`/m/auth/accounts/${req.p.account.eid}/change-password` lapis)
      label 
        .icon
          include /views/elements/svg/icon-password
        .text 비밀번호 변경
    hr
    h2 API
    a(href=`/m/auth/accounts/${req.p.account.eid}/permissions` lapis)
      label
        .icon
          include /views/elements/svg/icon-permission
        .text 권한 노드
    a(href=`/m/auth/accounts/${req.p.account.eid}/keys` lapis)
      label
        .icon
          include /views/elements/svg/icon-key
        .text API 키
  .stars.bottom
    include /views/elements/svg/diamond-hollow-small
    include /views/elements/svg/diamond-hollow-small
  button
    include /views/elements/svg/sidebar-button

lapis-script(src="/resources/pages/manage/auth/accounts/sidebar.mjs")