head

  link(href="/resources/elements/wanyne.css" type="text/css" rel="stylesheet")
  include /views/elements/lapis

  meta(charset="UTF-8")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name="format-detection" content="telephone=no")
  meta(name="theme-color" content="#D2B0DD")

  if meta.desc
    meta(name="description" content=meta.desc)
  if meta.keyword
    meta(name="keywords" content=meta.keywords)
  if meta.author
    meta(name="author" content=meta.author)

  //- OpenGraph
  meta(name="og:type" content="website")
  meta(name="og:locale" content="ko_KR")
  meta(name="og:site_name" content=meta.og.sitename)
  meta(name="og:title" content=meta.og.title)
  if meta.og.desc
    meta(name="og:description" content=meta.og.desc)
  if meta.og.image
    meta(name="og:image" content=meta.og.image)
    meta(name='og:image:width' content='1200')
    meta(name='og:image:height' content='630')

  //- JSON+LD
  if (meta.jsonld)
    script(type="application/ld+json")!= meta.jsonld

  //- Naver
  meta(name="naver-site-verification" content="b31648286b75513b018d978aecc99eb6dacb5709")
  
  title!= title