script console.log('%cwany.io — 와니네', 'background: rgb(210, 176, 221); color: black; font-weight: bold; padding: 1rem; border-radius: 0.75rem;');
script.
  window.bundle = new Object(); 
  window.client = new Object(); 
  window.global = new Object(); 
script.
  global.api = '#{req.api}';
  global.amuject = '#{req.amuject}';
  global.amethy = '#{req.amethy}';
if req.login && req.account
  script.
    window.account = new Object(); 
    account.login = true; 
    account.uid = '#{req.account.uid}'; 
    account.eid = '#{req.account.eid}'; 
    account.label = '#{req.account.label}';
script window.Math.rem = (n = 1) => { return n * parseFloat(getComputedStyle(document.documentElement).fontSize); }
script(type="module") function vh() { document.documentElement.style.setProperty('--vh', window.innerHeight * 0.01 + 'px'); } window.addEventListener('resize', vh); vh();
script.
  window.cookies = (name) => {
    let cookies = document.cookie
      ? ((s) => {
          const o = {};
          for (const c of s.split(';')) {
            const v = c.split('=');
            o[decodeURIComponent(v[0].trim())] = decodeURIComponent(v[1].trim());
          }
          return o;
        })(document.cookie)
      : {};
    return cookies[name];
  };

//- Notification
script(src="/resources/modules/notification.mjs" type="module" defer="defer")

//- Cursor
script(src="/resources/modules/cursor.mjs" type="module" defer="defer")

//- Inputs
script(src="/resources/modules/inputs.mjs" type="module" defer="defer")

//- Google Analytics
script(src="https://www.googletagmanager.com/gtag/js?id=G-4229X5VRKY" async)
script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "G-4229X5VRKY");

//- Cloudflare Web Analytics
script(src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "89434e100011464b8864120425b5f703"}' defer)
