script.
  window.bundle = new Object(); 
  window.client = new Object(); 
  window.global = new Object(); 
script.
  global.api = '#{req.api}';
if req.login && req.account
  script.
    window.account = new Object(); 
    account.login = true; 
    account.uid = '#{req.account.uid}'; 
    account.eid = '#{req.account.eid}'; 
    account.label = '#{req.account.label}';
script window.Math.rem = (n = 1) => { return n * parseFloat(getComputedStyle(document.documentElement).fontSize); }
script function vh() { document.documentElement.style.setProperty('--vh', window.innerHeight * 0.01 + 'px'); } window.addEventListener('resize', vh); vh();

//- Lapis
include /views/elements/lapis
  
//- Notification
script(type="module" src="/resources/modules/notification.mjs" defer="defer")

//- Cursor
script(type="module" src="/resources/modules/cursor.mjs" defer="defer")

//- Inputs
script(type="module" src="/resources/modules/inputs.mjs" defer="defer")

//- Sidebar
script(type="module" defer="defer").
  class Sidebar {
    constructor(
      sidebar = document.querySelector('aside.sidebar'),
      element = document.querySelector('main')
    ) {
      this.sidebar = sidebar;
      this.element = element;
      this.lastWidth = window.innerWidth;
      this.onScroll = () => {
        const srect = sidebar.getBoundingClientRect();
        const erect = element.getBoundingClientRect();
        if (srect.height > erect.height) {
          sidebar.style.top = `${erect.top}px`;
        }
        else {
          sidebar.style.top = `max(${
            Math.rem(5) + Math.min(0, erect.bottom - (srect.height + Math.rem(5)))
          }px, ${erect.top}px)`;
        }
      };
      const _this = this;
      this.onResize = () => {
        _this.lastWidth < 900 && 900 < window.innerWidth ? _this.close() : null;
        _this.lastWidth = window.innerWidth;
        _this.onScroll();
      };

      this.load();
      
      this.sidebar.querySelector('button').addEventListener('click', (event) => {
        this.sidebar.classList.contains('open') ? _this.close() : _this.open();
      });

      var i = setInterval(() => {
        this.onScroll();
      }, 100);
      setTimeout(() => {
        clearInterval(i);
      }, 1000);
      this.onScroll();
    }

    open() {
      this.sidebar.classList.add('open');
    }

    close() {
      this.sidebar.classList.remove('open');
    }

    hide() {
      this.close();
      this.sidebar.classList.add('hide');
    }

    show() {
      this.sidebar.classList.remove('hide');
    }

    load() {
      document.addEventListener('scroll', this.onScroll);
      window.addEventListener('resize', this.onResize);
    }

    unload() {
      document.removeEventListener('scroll', this.onScroll);
      window.removeEventListener('resize', this.onResize);
    }
  }

  window.Sidebar = Sidebar;