link(rel="preload" as="style" href="/resources/pages/blog/article.css")
link(rel="preload" as="style" href="/resources/pages/blog/github.css")
lapis-style(src="/resources/pages/blog/article.css")
lapis-style(src="/resources/pages/blog/github.css")

section#blog-article-title
  .outwrapper
    .inwrapper
      a(href="/b/" + article.eid lapis)
        h1#blog-article-title-display!= article.title.html

section#blog-article-info
  .outwrapper
    .inwrapper
      .ellipse
        span.author#blog-article-info-author
          a(href="mailto:" + article.author.email)!= article.author.label
        span.dot ·
        span.date#blog-article-info-datetime(tooltip=article.datetime.full)!= article.datetime.display
        span.dot ·
        span.category#blog-article-info-category
          if (categories[article.category])
            a(
              href="/b/index/category:" + article.tags[0] 
              tooltip="이 카테고리의 게시글 보기" 
              lapis
            )!= categories[article.category]
          else 
            a 알수없음

section#blog-article-content
  .outwrapper
    .inwrapper
      .article#blog-article-content-display!= article.content.html

if (req.account && (article.author.uid == req.account.uid || req.hasPermission('blog.articles.article.patch') || req.hasPermission('blog.articles.article.delete')))
  section#blog-article-control
    .outwrapper(narrow)
      .inwrapper 
        if (article.author.uid == req.account.uid) 
          a(href="/b/editor/" + article.eid lapis)
            button#blog-article-control-editor(medium) 편집
          button#blog-article-control-delete(medium) 삭제
        else
          if (req.hasPermission('blog.articles.article.patch'))
            a(href="/b/editor/" + article.eid lapis)
              button#blog-article-control-editor(medium) 편집
          if (req.hasPermission('blog.articles.article.delete'))
            button#blog-article-control-delete(medium) 삭제

section#blog-article-index
  .outwrapper(narrow)
    .inwrapper 
      .list

        each a in article.after
          article
            a(href="/b/" + a.eid lapis)
              if a.title.image
                .image 
                  img(src=a.title.image)
              .desc 
                .title
                  h2!=a.title.html
                .info!=a.datetime.display

        article.current
          a(href="/b/" + article.eid lapis)
            if article.title.image
              .image 
                img(src=article.title.image)
            .desc 
              .title
                h2!=article.title.html
              .info!=article.datetime.display

        each a in article.before
          article
            a(href="/b/" + a.eid lapis)
              if a.title.image
                .image 
                  img(src=a.title.image)
              .desc 
                .title
                  h2!=a.title.html
                .info!=a.datetime.display

      .input.text(label="inner")
        input#blog-article-index-query(type="text" placeholder="블로그에서 찾아보기" spellcheck="false" autocomplete="on" value=query) 
        label 블로그에서 찾아보기
        .border

lapis-script(eval="window.global.article = { uid: '" + article.uid + "', eid: '" + article.eid + "' };")
lapis-script(src="/resources/pages/blog/article.mjs")