link(rel="preload" as="style" href="/resources/pages/blog/index.css")
lapis-style(src="/resources/pages/blog/index.css")

section#blog-index-header
  .outwrapper
    .inwrapper
      .title 
        h1 게시글 목록

      .input.text(label="inner")
        input#input-blog-index-header-query(type="text" placeholder="블로그에서 찾아보기" spellcheck="false" autocomplete="on" value=query) 
        label 블로그에서 찾아보기
        .border

if (req.hasPermission('blog.articles.post'))
  section#blog-index-control
    .outwrapper
      .inwrapper
        a(href="/b/editor" lapis)
          button(medium color="green") 새 게시글 작성

section#blog-index-list
  .outwrapper
    .inwrapper
      .list
        each article in articles
          article
            a(href="/b/" + article.eid lapis)
              if article.title.image
                .image 
                  img(src=article.title.image)
              .desc 
                .title
                  h2!= article.title.html
                .content!= article.content.desc
                .info!= (categories[article.category] ? categories[article.category] : '알수없음') + ' · ' + article.datetime.display

section#blog-index-pages
  .outwrapper
    .inwrapper
      .less
        if (page - 3 < 1)
          a(disabled) <<
        else
          if (size != 20)
            a(href="/b/index/" + query + "?page=" + (page - 3) + "&size=" + size lapis) <<
          else 
            a(href="/b/index/" + query + "?page=" + (page - 3) lapis) <<
      .pages
        .btn.gotopage.mm
          if (page - 2 < 1)
            a!= " "
          else
            if (size != 20)
              a(href="/b/index/" + query + "?page=" + (page - 2) + "&size=" + size lapis)!= page - 2
            else 
              a(href="/b/index/" + query + "?page=" + (page - 2) lapis)!= page - 2
        .btn.gotopage.m
          if (page - 1 < 1)
            a!= " "
          else
            if (size != 20)
              a(href="/b/index/" + query + "?page=" + (page - 1) + "&size=" + size lapis)!= page - 1
            else 
              a(href="/b/index/" + query + "?page=" + (page - 1) lapis)!= page - 1
        .btn.gotopage.c
          a!= page
        .btn.gotopage.p
          if (size * (page + 0) < count)
            if (size != 20)
              a(href="/b/index/" + query + "?page=" + (page + 1) + "&size=" + size lapis)!= page + 1
            else 
              a(href="/b/index/" + query + "?page=" + (page + 1) lapis)!= page + 1
          else
            a!= " "
        .btn.gotopage.pp
          if (size * (page + 1) < count)
            if (size != 20)
              a(href="/b/index/" + query + "?page=" + (page + 2) + "&size=" + size lapis)!= page + 2
            else 
              a(href="/b/index/" + query + "?page=" + (page + 2) lapis)!= page + 2
          else
            a!= " "
      .more
        if (size * (page + 2) < count)
          if (size != 20)
            a(href="/b/index/" + query + "?page=" + (page + 3) + "&size=" + size lapis) >>
          else 
            a(href="/b/index/" + query + "?page=" + (page + 3) lapis) >>
        else
          a(disabled) >>

lapis-script(src="/resources/pages/blog/index.mjs")